.middle-container{
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    max-height: 450px;
    margin-top: 1%;
    margin-bottom: 1%;

}

.middle-bg{
    background-image: url('../../assets/imgs/DSCF2595.jpg');
    color: white;
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;

}

.middle-title {
    font-size: 7rem;
}

.middle-sub-section{
    flex: 1;
    align-self: center;
    max-height: 250px;
    margin-right: 3px;
    color: black;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
}

.redText{
    color: red;
}