*{
    min-height: 0;
    min-width: 0;
}

.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    font-size: 1em;
    position: relative;
    z-index: auto;
}

.socialIGView{
    top: 98px;
    padding-right: 2%;
    padding-left: 1%;

}

.socialFBView{
    top: 182px;
    padding-right: 2%;
    padding-left: 1%;
}

.socialEmailView{
    top: 266px;
    padding-right: 2%;
    padding-left: 1%;
}

.contactSection{
    display: none;
}


.fade-in-right {
    background-color: rgba(0,0,0,1);
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
    position: fixed;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    z-index: -1;
}

.audioPlayer{
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
    border: 2px solid #f9f9ff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    flex-direction: row;
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    margin-top: 10px;
}

.albumCover{
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.header {
    flex-direction: row;
    /*flex:1;*/
    width: 100%;
    height: 50px;
    /*max-width: 335px;*/
    align-items: center;
    display: flex;
    background-color: rgba(0,0,0,0.9);
    /*font-size: 1rem;*/
    position: fixed;
    z-index: 10000;
}
.navList{
    display: flex;
    flex-direction: row;
    text-align: center;
    flex: 1;
    color: white;
    margin-left: 20%;
}
.navList p{
    margin-right: 5%;
    color: red;
}
/*.navList p:nth-child(1){*/
    /*margin-top: 20%;*/
/*}*/
.headerFixedContent{
    flex-direction: row;
    /*max-width: 335px;*/
    /*position: fixed;*/
    /*width: 100%;*/
    margin-left: 20%;
}

.navBar {
    display: inline;

}
.soundbars{
    width: 94%;
}
.fontXSm{
    font-size: 0.8rem;
}

.headerTitle{
    color: white;
    font-size: 2em;
    margin: 0;
    margin-left: 1%;


}
ul{
    margin-right: 5%;
    text-decoration: none;
    color: white;
    margin-top: 2.2%;
}
li{
    padding: 15px;
    list-style: none;
}

.redText{
    color: red;
}

.marginTop30{
    margin-top: 30%;
    justify-content: center;
    align-items: center;
}

.marginLeftLg {
    margin-left: 60%;
}

.middleContainer{
    flex: 1;
}

.mainContent{
    min-height: 105vh;
    /*flex: 4;*/
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/imgs/bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.scrollView{
    flex: 4;
    overflow: scroll;

}

.noScrollView{
    flex: 4;
    overflow: hidden;
}

.mainContent2{
    min-height: 105vh;
    /*width: 100%;*/
    /*flex: 4;*/
    display: flex;
    padding: 1%;
    flex-direction: column;
    background-image: url("../../assets/imgs/christian_portrait.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;

}

.mc2Left{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    /*background-image: url("../../assets/imgs/christian_portrait.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    flex: 1;
}

.mainContent3{
    min-height: 105vh;
    flex: 4;
    display: flex;
    padding: 2%;
    padding-top: 5%;
    flex-direction: column;
    background-image: url("../../assets/imgs/bg-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.button__bar {
    display: flex;
    justify-content: center;
    align-self: center;
    /*vertical-align: middle;*/
    margin: auto;
    padding: 0;
    background: rgba(255, 255, 255, 0);
    border-radius: 40px;
    /*width: 70px;*/
    text-align: center;
}

.button__bar li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

.button__bar li button {
    border: none;
    background: #f6f6f6;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 7.5px;
}

.button__bar li.slick-active button {
    background-color: rgb(8, 255, 140);
}

.button__bar li button:hover,
.button__bar li button:focus {
    background: rgba(1, 48, 84, 0.8);
    outline: 0;
}

.slick-slide img {
    border: 5px solid #fff;
    display: block;
    margin: auto;
}


/* Render items as columns */
.testimonialContainer {
    background-color: #e3e3e3;
    /*margin-bottom: 20px;*/
    overflow: hidden;
    border: 25px solid #3f3f3f;
    margin-right: 1%;
    /*justify-content: space-between;*/
}

.testimonial::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.testimonial {
    background-color: rgba(20,20,20,0.95);
    border: 5px solid #0272df;
    /*border-radius: 5px;*/
    height: 100%;
    width: 100%;
    padding: 7%;
    color: white;
    line-height: 1.3;
    text-align: left;

}
/* Re-order items into rows */
.testimonial:nth-child(3n+1) { order: 1;  }
.testimonial:nth-child(3n+2) { order: 2; }
.testimonial:nth-child(3n)   { order: 3; }

.authorImage{
    display: inline-block;
    width:80px;
    margin: 2px;
    border:2px solid #ffa230;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}
.authorImgDiv{
    float:left;
    display: inline-block;
    width:100px;
    height: 80px;
    shape-outside: circle();
}

.mainContent4{
    min-height: 105vh;
    /*width: 100%;*/
    /*flex: 4;*/
    padding: 1%;
    background-image: url("../../assets/imgs/bg-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;

}

.mainContent5{
    min-height: 105vh;
    /*width: 100%;*/
    /*flex: 4;*/
    display: none;
    padding: 1%;
    flex-direction: column;
    background: linear-gradient(135deg, #121a37, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;

}

.mainContent6{
    min-height: 105vh;
    /*width: 100%;*/
    /*flex: 4;*/
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    background-image: url("../../assets/imgs/media_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;

}

.fullDrkBG{
    height: 95vh;
    /*width: 80vw;*/
    flex: 1;
    display: flex;
    background-color: rgba(1,1,1,0.5);
    border-width: 1;
    border-color: #687eff;
    border-radius: 5;
}

.fullHeightWidth{
    height: 80vh;
    width: 70vw;
}

.cphoto{
    /*width: 50%;*/
    align-self: center;
}

.fullWidth{
    width: 100%;
}
.divider1{
    background-color: #0272df;
    height: 2px;

}

.eqbars2{
    width: 20%;
    margin-top: 5%;
}

.responsivePaddingLG{
    padding: 30px;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-1-14 23:29:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


@media (max-width: 680px){
    .audioPlayer{
        width: 60vw;
        height: 6vh;
    }
    .contactSection{
        display: flex;
    }

    .albumCover{
        width: 35vw;
        height: 35vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .container{
        flex-direction: column;
        font-size: 2em;
    }
    .header {
        flex-direction: column;
        height: auto;
        flex:1;
        width: 100%;
        max-width: 999px;
        align-items: center;
        display: flex;
        background-color: rgba(0,0,0,0.9);
        font-size: 1em;
        /*position: fixed;*/
    }
    .headerFixedContent{
        flex-direction: row;
        /*max-width: 335px;*/
        /*position: fixed;*/
        /*width: 100%;*/
        margin-left: 0%;
        margin-top: 2%;
    }
    .mainContent{
        height: 70vh;
        /*flex: 4;*/
        position: relative;
        display: flex;
        flex-direction: column;
        background-image: url("../../assets/imgs/bg-1.png");
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-size: cover;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .mainContent2{
        height: 100vh;
        /*width: 100%;*/
        /*flex: 4;*/
        display: flex;
        padding: 1%;
        flex-direction: column;
        background-image: url("../../assets/imgs/christian_portrait.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 50%;
        justify-content: center;
        align-items: center;

    }
    .responsivePaddingLG{
        padding: 10px;
    }
    .soundbars{
        width: 50%;
    }
    .marginLeftLg{
        margin-left: 0%;
    }
    .navList{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 3%;
        margin-left: 0%;
    }
    .navList p{
        margin-bottom: 0%;
        margin-right: 5%;
        color: red;
    }
    .navList p:nth-child(1){
        margin-top: 0%;
    }
    .testimonial {
        background-color: rgba(0,0,0,0.5);
        /*display: flex;*/
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: white;
        width: 100%;
        overflow: hidden;
    }
    .testimonialContainer {
        width: 80%;
        overflow: hidden;

    }
    mainContent5{
        display: flex;
    }

}