.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
    flex-wrap: wrap;
    font-size: 1em;
}

.homeBG {
    background-image: url('../../assets/imgs/bg-1.png');
    flex: 1;
    height: 950px;
    background-repeat: no-repeat;
    background-size: cover;


}

